body {
    font-family: Arial, sans-serif;
    background-color: #ee96d3;
    color: #333;
}
header {
    background: rgb(194, 27, 55);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
